<footer class="footer">
  <div class="container">
    <div class="footer__col">
      <div class="footer__title">Get in touch</div>
      <ul class="footer__col-link">
        <li><a class="link-facebook" href="#"></a></li>
        <li><a class="link-twitter" href="#"></a></li>
        <li><a class="link-google" href="#"></a></li>
        <li><a class="link-linkedin" href="#"></a></li>
      </ul>
      <div class="footer__form">
        <p class="footer__form-header">
          Subscribe to our newsletter to stay update with what is new
        </p>
        <form class="footer__form-box">
          <input class="footer__box-row" type="text" placeholder="E-mail Address">
          <button class="footer__btn" type="submit">Subscribe</button>
        </form>
      </div>
    </div>
  </div>
  <div class="info">Cssauthor.com © 2014 All Rights Reserved</div>
</footer>