<header class="header">
  <div class="header__top">
    <div class="container">
      <div class="header__top-inner">
        <div class="header__social">
          <a class="header-phone" href="63373128">6337 3128</a>
          <a class="header-mail" href="#">info@business.com</a>
          <span class="header-facebook">
            <a class="img-color" href="#">
              <img class="img-f" src="images/f.png" alt="">
            </a>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="header__base">
    <div class="container">
      <div class="header__base-inner">
        <div class="header__base-box">
          <a class="header__logo" href="#">
            <img src="images/logo.png" alt="">
          </a>
          <div class="logo__info">
            <a class="header__logo-name" href="">Business</a>
            <a class="header__logo-text" href="">Tagline goes here</a>
          </div>
        </div>
        <div class="header__menu">
          <ul class="menu__list">
            <li class="menu__list-first">
              <a href="#">Home</a>
            <li>
              <a href="#">About Us</a>
            </li>
            <li>
              <a href="#">Our Approch</a>
            </li>
            <li>
              <a href="#">Our Work</a>
            </li>
          </ul>
        </div>
        <a class="header__btn">
          Free Consultation
        </a>
      </div>
    </div>
  </div>
</header>