<header class="header">
  <div class="header__top">
    <div class="container">
      <div class="header__top-inner">
        <div class="header__social">
          <a class="header__phone" href="63373128">6337 3128</a>
          <a class="header__mail" href="#">info@business.com</a>
          <div class="header__facebook">
            <a class="header__img-color" href="#">
              <img class="header__img-f" src="images/f.png" alt="">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="header__base">
    <div class="container">
      <div class="header__base-inner">
        <div class="header__base-box">
          <a class="header__logo" href="#">
            <img class="logo__img" src="images/logo.png" alt="icon">
          </a>
          <div class="logo__info">
            <a class="header__logo-name" href="">Business</a>
            <a class="header__logo-text" href="">Tagline goes here</a>
          </div>
        </div>
        <div class="menu">
          <ul class="menu__list">
            <li class="menu__list-item">
              <a class="list-item" href="#">Home</a>
            </li>
            <li class="menu__list-item">
              <a class="list-item" href="#">About Us</a>
            </li>
            <li class="menu__list-item">
              <a class="list-item" href="#">Our Approch</a>
            </li>
            <li class="menu__list-item">
              <a class="list-item" href="#">Our Work</a>
            </li>
          </ul>
        </div>
        <a class="header__btn">
          Free Consultation
        </a>
      </div>
    </div>
  </div>
</header>