@import 'vars';
@import 'fonts';
@import 'global';


//                                                    START CODE
//start header
.header__top {
  background-color: $grey;
  border-bottom: 2px solid #e2e2e2;
}

.header__top-inner {
  display: flex;
  justify-content: flex-end;
  height: 45px;
}

.header__social {
  width: 342px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__phone {
  font-family: 'Roboto-Regular', sans-serif;
  font-weight: 400;
  font-size: 15px;
  text-align: end;
  padding-right: 17px;
  max-width: 110px;
  width: 100%;
  color: $bg;
  position: relative;
  display: inline-block;

  &::before {
    content: "\f10b";
    font-family: 'icomoon';
    color: $bg;
    font-size: 19px;
    position: absolute;
    left: 10px;
    bottom: -2px;
  }

  &::after {
    content: '';
    border: 1px solid #e2e2e2;
    position: absolute;
    height: 45px;
    right: 0px;
    bottom: -15px;
  }
}

.header__mail {
  font-family: 'Roboto-Regular', sans-serif;
  font-weight: 400;
  width: 179px;
  font-size: 15px;
  color: $bg;
  position: relative;
  padding-left: 48px;

  &::before {
    content: "\f0e0";
    font-family: 'icomoon';
    color: $bg;
    left: 20px;
    position: absolute;
  }
}

.header__facebook {
  width: 27px;
  height: 26px;
  border-radius: 2px;
  background-color: #1287bf;
  left: 0px;
  position: relative;
  margin-left: 10px;
  z-index: 1;
}

.header__img-f {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.header__base {
  background-color: #fff;
}

.header__base-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 130px;
}

.header__base-box {
  width: 245px;
  display: flex;
  align-items: center;
}

.header__logo {
  margin-right: 10px;
}

.logo__info {
  width: 159px;
}

.header__logo-name {
  font-family: 'Roboto-Bold', sans-serif;
  font-weight: 700;
  font-size: 37px;
  color: $bg;
}

.header__logo-text {
  font-family: 'OpenSans-Light', sans-serif;
  font-weight: 300;
  font-size: 15px;
  color: $bg;
}

.menu {
  display: flex;
  align-items: center;
  width: 380px;
  margin-left: 190px;
}

.menu__list {
  li {
    display: inline-block;

    &:hover {
      .list-item {
        color: $red;
      }
    }

    &+li {
      margin-left: 30px;
    }
  }

  .list-item {
    color: $bg;
    font-size: 15px;
    font-family: 'Roboto-Bold', sans-serif;
    font-weight: 700;
  }
}

.header__btn {
  width: 170px;
  height: 38px;
  border: 0;
  border-radius: 4px;
  font-family: 'Roboto-Bold', sans-serif;
  font-weight: 700;
  font-size: 15px;
  background-color: $red;
  color: #fff;
  padding-top: 8px;
  line-height: 20px;
  text-align: center;
}

//end header
// start section providing// 
.providing {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 1400px;
  min-height: 590px;
}

.providing__inner {
  padding: 170px 0px 0px;
  color: #fff;
  text-align: center;

  &-title {
    font-family: 'Roboto-Regular', sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
  }

  &-subtitle {
    font-family: 'OpenSans-Light', sans-serif;
    font-weight: 300;
    font-size: 35px;
    line-height: 50px;
    margin-bottom: 30px;
  }

  &-form {
    width: 330px;
    height: 70px;
    margin: 0 auto;
    position: relative;

    .button {
      position: absolute;
      width: 330px;
      height: 70px;
      left: 0px;
      border: none;
      background-color: transparent;
      border-radius: 6px;
      font-family: 'Roboto-Bold', sans-serif;
      font-weight: 700;
      font-size: 25px;
      line-height: 20px;
      background-color: #f8cd53;
      color: #fff;
    }
  }
}








// end section providing// 



// END CODE
//
//-----------------------------------------------------------------------------------------------------------

@import 'media';